<header class="header-section">
<div class="intro-header">

{% if page.cover-img %}<div class="mb-5 bg-image p-5 img-fluid d-flex justify-content-center align-items-center"
style="
  background-image: url('{{site.baseurl}}assets/logo/{{page.cover-img}}');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;">
{% endif %}
  <div class="container-md text-center ">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 h1 fw-bold">
          {{page.title}}
        </div>
      </div>
    </div>
  {% if page.cover-img %}</div>{% endif %}
</div>
</header>

