<header class="header-section">
<div class="intro-header">

{% if page.cover-img %}
  <div class="d-none d-md-block bg-image p-5 img-fluid d-flex justify-content-center align-items-center"
  style="
    background-image: url('{{site.baseurl}}/assets/img/{{page.cover-img}}');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;">
  <!-- style="min-height: 300px;" -->
  {%include header-text.html%}
  </div>
  <div class="d-block d-md-none bg-image img-fluid d-flex justify-content-center align-items-center"
  style="
    background-image: url('{{site.baseurl}}/assets/img/{{page.cover-img}}');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;">
  <!-- style="min-height: 300px;" -->
  {%include header-text.html%}
  </div>
{%else%}
{% endif %}
</div>
</header>

