
<div class="">
    <svg baseprofile="tiny" id="br-map-svg" transform="scale(1.08)"  stroke="#ffffff" 
    stroke-linecap="round" stroke-linejoin="round" stroke-width=".0" version="1.2" viewBox="0 -40 1000 1000" xmlns="http://www.w3.org/2000/svg"
    style="position:relative;">
        <g>
            <image width="1000" height="1000" href="{{site.baseurl}}/assets/svg/maps/contour.svg"/>

            <g id='waves'  stroke="#fff" stroke-width="10">
            {% for folder in site.data[page.lang].collect %}
                {% assign article = folder[0]%}
                {%if article == 'legacy' or article == 'model'%}
                {%continue%}
                {%else%}
                {%assign article = article | append: '/'%}
                {%endif%}
                {% assign pr_path = "data/" | append: page.lang |append: "/collect"%}
                {% assign files = site.pages | where_exp: "item", "item.path contains pr_path"%}
                {% assign files = files | where_exp: "item", "item.path contains article"%}
                {% for item in files %}
                    {{item.content}}
                {%endfor%}
            {%endfor%}
            </g>
            <g >
            {% for folder in site.data[page.lang].colabs %}
                {% assign article = folder[0]%}
                {%if article == 'legacy' or article == 'model'%}
                {%continue%}
                {%else%}
                {%assign article = article | append: '/'%}
                {%endif%}
                {% assign pr_path = "data/" | append: page.lang |append: "/colabs"%}
                {% assign files = site.pages | where_exp: "item", "item.path contains pr_path"%}
                {% assign files = files | where_exp: "item", "item.path contains article"%}
                {% for item in files %}
                    {{item.content}}
                {%endfor%}
            {%endfor%}
            </g>
        </g>
    </svg>
</div>
