<nav class="navbar navbar-light navbar-expand-xl justify-content-md-center justify-content-start">
    <a class="navbar-brand d-xl-none d-inline" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a> 
            </li>
        </ul>
    </div>
  </nav>