{% for folder in site.data[page.lang].publications %}
    {% assign article = folder[0]%}
    {% assign p_path = "data/" | append: page.lang |append: "/publications"%}
    {% assign files = site.pages | where_exp: "item", "item.path contains p_path"%}
    {% assign files = files | where_exp: "item", "item.path contains article"%}
    {% for item in files %}
        {%assign name_html = item.name | replace: "md", "html"%}
        {%assign image_files = item.thumbnail%}
        <div class="mb-3 w-100 mb-5" style="height: 180px;">
        <div class="card h-100" style="border: none;"> 
            <div class="row g-0 h-100">
            <div class="col-md-4 h-100 d-none d-md-flex align-items-center justify-content-center">
                {%if image_files and image_files != ''%}
                    <img class="img-fluid rounded" src="{{site.baseurl}}/{{item.dir}}{{image_files}}" alt="" style="height: 90%">
                {%else%}
                    <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor" class="bi bi-book-half d-block mx-auto" viewBox="0 0 16 16">
                        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                    </svg>
                {%endif%}
            </div>
            <div class="col-md-8 align-self-start h-100 d-flex flex-column">
                <div class="card-body">
                <a class="link-underline-dark link-underline-opacity-0 link-underline-opacity-100-hover link-offset-1 h3" href="{{site.baseurl}}/{{item.dir}}{{name_html}}">{{item.title}}</a><br> 
                <div class="card-text">{{ item.authors | replace: " and", ","}}</div>
                <div class="card-text"><small class="text-muted">
                    {%if page.lang=='en'%}
                        Published: 
                    {%elsif page.lang=='pt'%}
                        Publicado: 
                    {%endif%}
                    {{item.date | date: '%B, %Y' }}</small></div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 mt-2">
            <hr class="hr-shade-bg"/>
        </div>
        </div>
    {% endfor %}
{% endfor %}