---
layout: base
---


<div class="container mb-3 mt-3">
    <div class="row d-flex flex-column align-items-center">
        
        {%if page.main-image and page.main-image != ''%}
            <div class="col mb-3 col-md-8 text-center">
                <img class="img-fluid rounded" src="{{site.baseurl}}{{page.dir}}/{{page.main-image}}" alt="" style="max-height: 400px;">
            </div>
        {%endif%}
        <div class="col col-md-8 mb-3 h2">
            {{page.title}}
        </div>
        <div class="col col-md-8 text-muted">
            {{page.authors | replace: ' and', ',' | replace: ' ,', ','}}
        </div>
        <div class="col col-md-8 mb-5 text-muted">
            {{page.date | date: '%B, %Y' }}
        </div>
        <hr class="col col-md-8 mb-4 text-muted">
        {%if page.abstract%}
            <div class="col col-md-8 mb-3 h3">
                Abstract
            </div>
            <div class="col col-md-8">
                {{page.abstract}}
            </div>
        {%endif%}
    </div>
</div>

