---
layout: base
---

{% include header.html type="page" %}

<main>
  <div class="jumbotron jumb-odd">
    <div class="container">
      <div class="row pt-4 pb-2">
        <div class="col col-xl-8 col-lg-10">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bg-image jumb-even" 
    {%if page.alt-img%}
    style="
      background-image: url('{{site.baseurl}}/assets/logo/{{page.alt-img}}');
      background-repeat:no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 300px;"
    {%endif%}>
    <div class="container">

      <div class="row pt-4 pb-2 d-none d-lg-flex">
        <div class="d-flex flex-column align-items-center col-8 col-lg-7">
            {%include publication_list_image.html%}
        </div>
        <div class="col-4 col-xxl-4 offset-lg-1 d-flex flex-column align-items-center">
          <div class="mt-5 h1 fw-bold">
            {% assign publications_page = site.pages | where: 'path', page.publications %}
            {{publications_page[0].home-title}}
          </div>
        </div>
      </div>
      <div class="row pt-4 pb-2 d-lg-none">
        <div class="col col-lg-4 offset-md-1 h1 fw-bold">
          {% assign publications_page = site.pages | where: 'path', page.publications %}
          {{publications_page[0].home-title}}
          <a class="btn btn-primary" href="{{site.baseurl}}/{{page.lang}}/publications" role="button">Click here to see more!</a>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="col-lg-8 mt-3">
              {%include publication_list.html%}
          </div>
        </div>
      </div>

    </div>
  </div>
</main>


