---
layout: base
---

{% include header.html type="page" %}

<main>  
  <div class="jumbotron bg-image pb-3 pt-3 jumb-odd" style="min-height: 300px;" 
    {%if page.alt-img%}
    style="
      background-image: url('{{site.baseurl}}/assets/logo/{{page.alt-img}}');
      background-repeat:no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 300px;"
    {%endif%}>
    <div class="container">

      <div class="row pt-4 pb-2 d-none d-xxl-flex">
        <div class="col-3 col-xxl-3 d-flex flex-column align-items-center">
          <div class="mt-5 h1 text-end" style="font-size: 260%; -webkit-text-stroke-width: 3px;">
            {% assign publications_page = site.pages | where: 'path', page.publications %}
            {{publications_page[0].home-title}}
          </div>
          <div class="d-none d-xxl-flex vr ms-auto p-0 mt-3"  style="height: 40vh; "></div>
        </div>
        <div class="d-flex flex-column align-items-center col-9 col-lg-9 col-xxl-8 offset-xxl-1">
          {%include publication_list_image.html%}
        </div>
      </div>
      <div class="row pt-4 pb-2 d-xxl-none">
        <div class="col col-xxl-3 h2 fw-bold">
          {% assign publications_page = site.pages | where: 'path', page.publications %}
          {{publications_page[0].home-title}}
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="col-xxl-8 mt-3">
              {%include publication_list.html%}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron pb-3 pt-3 jumb-even">
    <div class="container" >
      <div class="row d-flex justify-content-center ">
        {% include map_description.html %}
      </div>
    </div>
  </div>

  <div class="jumbotron pb-3 pt-3 jumb-odd">
    <div class="container" >
      <div class="row d-flex justify-content-center pt-5">
        <div class="h1 text-center" style=" -webkit-text-stroke-width: 2px; font-size: 300%;">
          {{page.news.title}}
        </div>
      </div>
      <div class="row mb-2 justify-content-center">
        <div class="d-none d-md-block col-md-1">
          <hr style="border-top: 10px solid; opacity: 0.7; border-color: #edab00;">
        </div>
      </div>
      <div class="row d-flex justify-content-center ">
        <div class="col col-lg-9 col-xxl-8 mt-5 mb-5 pb-5">
          {% include news_carousel.html %}
        </div>
      </div>
    </div>
  </div>
  


</main>


